html {
  background-color: black;
}

.App {
  text-align: center;
}

.navbar {
  background-color: black;
  padding: 10px;
  color: white;
  border-bottom: 1px solid gainsboro;
}

.navbar ul {
  margin: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  color: white;

  
}

.navbar a:after {
  display:block;
  content: '';
  border-bottom: solid 1px red;  
  transform: scaleX(0);  
  transition: transform 300ms ease-in-out;
  transform-origin:100% 50%;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin:0 50%;
}

.about-section {
  color: white;
  text-align: center;
}
