html {
  background-color: #F4D35E;

}

.App {
  text-align: center;
font-family: Georgia, serif;  background-color: #F4D35E;
}

.app-div {
  background-color: #F4D35E;
}

.navbar {
  background-color: #28AFB0;
  padding: 15px;
  border-bottom: 2px solid black;
  font-family: Georgia, serif;  color: black;

}

.page-name {
  margin-left: 25px;
}

.navbar ul {
  margin: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  font-size: 20px;
  color: black;

  
}

.navbar a:after {
  display:block;
  content: '';
  border-bottom: solid 2px ;  
  transform: scaleX(0);  
  transition: transform 300ms ease-in-out;
  transform-origin:100% 50%;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin:0 50%;
}

.about-section {
  text-align: center;
font-family: Georgia, serif;  font-size: 20px;
  background-color: #F4D35E;
}

.projects {
  background-color: #F4D35E;
  border: 3px solid red;
}



/* Projects */
/* .box {
  background: #ffffff;
  padding: 2.75em 1.75em 2.75em 1.75em;
  background-color: aqua;
}

  .box .image.featured {
    position: relative;
    width: auto;
    left: 1.75em;
    top: 1.75em;
    margin: -4.5em 0 4.25em -3.5em;
  }

  .box.post header {
    padding-top: 1em;
    margin: 0 0 2em 0;
  }

  .box.post h2 {
    font-size: 2.5em;
    letter-spacing: -0.015em;
  }

  .box.post header > p {
    margin-top: 1.25em;
    font-size: 1.25em;
  }

  .box footer ul.actions {
    margin-bottom: 0;
  } */

.bootstrap {
  color: white;
  background-color: aqua;
}

.bootstrap-footer {
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #28AFB0;
  font-family: Georgia, serif;  color: black;
  text-align: center;
}